@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

:root {
  --gmc-black: hsl(0, 0%, 13%);
  --gmc-white: hsl(0, 5%, 96%);
  --gm-cta: hsl(33, 93%, 64%);
  --gm-cta-light: hsl(47deg 93% 64%);
  --gmc-brand: hsl(240, 39%, 15%);
  --gmc-brand-light: hsl(240, 29%, 22%);
  --gmc-border-color: hsl(244, 39%, 32%);
  --gmc-transparent-color: hsla(244, 39%, 32%, 52%);
  --gmc-brand-dark: hsl(240, 44%, 11%);
  --shadow: 0 2px 7px var(--gmc-brand-dark);
}

html,
body {
  font-family: 'Ubuntu', sans-serif;
  background: var(--gmc-brand);
  color: var(--gmc-white);
  font-weight: 200;
  height: 100%;
}

#__next {
  height: 100%;
}

h1 {
  margin: 0;
  font-family: 'Marck Script', cursive;
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
  text-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: var(--gmc-white);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:active,
a:hover,
a.active {
  color: var(--gm-cta-light);
  text-decoration: underline;
}

a.active span {
  color: var(--gmc-white);
}
